body {
  background: #000;
  font: 10px sans-serif;
  margin: 0 auto;
  pointer-events: all;
}

.column {
  float: middle;
}

.left {
  float: middle;
  width: 70%;
}

.right {
  float: right;
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: black;
}

.line {
  stroke-width: 2;
  stroke: #eee;
}

rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}

.nav {
  float: left;
  position: relative;
  left: 50%;
  text-align: center;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #000;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.nav .icon {
  display: none;
}

.button{
  text-decoration:none;
  background:#000;
  color:#fff;
  border:none;
  float: left;
  position: relative;
  left: -50%;
  font-size:1.8em;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.button:hover{
  background:#fff;
  color:#000;
}
.button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000;
  transition:400ms ease all;
}
.button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
